textarea {
  scrollbar-arrow-color: theme-color("primary");

  &::-webkit-scrollbar {
    border-top-right-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  &::-webkit-resizer {
    color: theme-color("primary");

    border-width: 4px;
    border-style: solid;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: theme-color("primary");
    border-right-color: theme-color("primary");
  }
}

body::-webkit-scrollbar {
  width: 8px;
  // background-color: darken(theme-color("primary"), 50%);
}

body::-webkit-scrollbar-thumb {
  background-color: lighten(theme-color("black"), 15%);
}
